# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
ttsenv/
.ttsenv/

# Environment variables
.env

# Bytecode
*.pyc

# SQLite database files
*.sqlite3
*.db

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Flask instance folder (if you use one)
instance/
